// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.restaurant-detail {
  margin-top: 10px;
  font-size: 10pt;
}

.map-button {
  margin-top: 10px;
  width: 100%;
}
